.ig_ElectricBlueControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	color:Black;
}


.ig_ElectricBlueItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_ElectricBlueButton
{
	cursor:hand;
}


.ig_ElectricBlueButtonHover
{
}


.ig_ElectricBlueButtonPressed
{
}


.ig_ElectricBlueButtonDisabled
{
}


.ig_ElectricBlueHover
{
}


.ig_ElectricBlueSelected
{
}


.ig_ElectricBlueDisabled
{
}


.ig_ElectricBlueHeader
{
}


.ig_ElectricBlueFooter
{
}


.ig_ElectricBlueEditWithButtons
{
}


.ig_ElectricBlueEdit
{
}


.ig_ElectricBlueEditInContainer
{
}


.ig_ElectricBlueAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_ElectricBlueDropDown
{
}


.ig_ElectricBlueEditSelected
{
}


Body
{
}


.ms-WPBody .igmc_ElectricBlueControl TABLE
{
	font-style:inherit;
	font-size:xx-small;
}


.ms-WPBody .igte_ElectricBlueEditWithButtons TD
{
	background-color:Transparent;
	font-size:1px;
	border-bottom-style:none;
}


.ms-wpbody .ig_ElectricBlueControl td
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-bottom-style:none;
}


.ms-wpbody .ig_ElectricBlueControl table
{
	font-style:inherit;
	font-size:xx-small;
	border-collapse:Separate;
}


.ms-WPBody .igte_ElectricBlueEditWithButtons TABLE
{
	font-size:1px;
}


.ms-WPBody .igdw_ElectricBlueControl TD
{
	background-color:White;
}


.ms-WPBody .igmc_ElectricBlueControl TD
{
	background-color: inherit;
	font-style:inherit;
	font-size:xx-small;
	border-style:inherit;
}

.ie7_DisplayInlineFix { display: inline-block; }
.ie7_DisplayInlineFix { display: inline; }


