.igwv_IGControl
{
	font-family:'Segoe UI',verdana,sans-serif;
	font-weight:normal;
}


.igwv_IGCaptionHeader
{
	background-color:#FFFFFF;
	background-image:url(images/igdv_CaptionHeaderBg.gif);
	background-position:left bottom;
	border-bottom:1px solid #E7E7E7;
	color:#000000;
	font-size:8pt;
	font-weight:bold;
	height:25px;
	line-height:20px;
	padding:5px;
	text-align:center;
}


.igwv_IGDayHeader
{
	background-color:#4F4F4F;
	background-image:url(images/igws_dayheader.jpg);
	background-repeat:repeat-x;
	border-bottom:1px solid #535353;
	border-width:0 0 1px;
	color:#FFFFFF;
	font-size:8pt;
	height:25px;
	overflow:hidden;
	padding:0 3px;
	text-align:center;
	vertical-align:middle;
}


.igwv_IGDay
{
	background-color:White;
	overflow: hidden;
	cursor:pointer;
}


.igwv_IGAppointment
{
	background-color:#FFFFFF;
	background-image:url(images/igws_alldayeventbg.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	border:1px solid #B1B1B1;
	color:#393939;
	cursor:pointer;
	font-size:8pt;
	margin:3px 3px 0;
	overflow:hidden;
	padding:3px;
	text-align:left;
}


.igwv_IGAllDayEvent
{
	background-color: #CDDCED;
	background-repeat:repeat-x;
	background-image: url(images/igws_alldayeventbg1.gif);
	font-size:8pt;
	border:solid 1px #CDDAEA;
	margin:1px;
	padding:2px;
	overflow: hidden;
	cursor:pointer;
	text-align:left;
	vertical-align:middle;
}


.igwv_IGNavigationButton
{
	background-color:Transparent;
	border-width:0px;
	width: 25px;
	height: 25px;
	cursor:pointer;
	vertical-align:middle;
}


.igwv_IGMultiDayEventArrowLeft
{
	background-repeat:no-repeat;
	background-position:center center ;
	background-image: url(images/igws_arrowleft.gif);
	display: inline-block;
	width: 9px;
	height: 9px;
}


.igwv_IGMultiDayEventArrowRight
{
	background-repeat:no-repeat;
	background-position:center center ;
	background-image: url(images/igws_arrowright.gif);
	display: inline-block;
	width: 9px;
	height: 9px;
}


.igwv_IGResource
{
}


.igwv_IGResourceButton
{
	background: #4F4F4F url(images/igws_dayheader.jpg) repeat-x 0 0;
	padding: 4px;
	font-size: 8pt;
	font-family:'Segoe UI',verdana,sans-serif;
	font-weight:normal;
	color: #FFFFFF;
	border-width: 0;
	border-right: solid 1px #4F4F4F;
	border-bottom: solid 1px #4F4F4F;
}


.igwv_IGResourceButtonActive
{
}


.igwv_IGFadedAppointment
{
	filter: alpha(opacity=50);
	opacity: 0.5;
}


.igwv_IGDayArea
{
	border: 1px solid #B1B1B1;
	border-top:none;
}


.igwv_IGTodayHeader
{
	background-color:#2788B1;
	background-image:url(images/igws_todayheaderbg.gif);
	background-position:left top;
	background-repeat:repeat-x;
	border:1px solid #2788B1;
	color:#FFFFFF;
	font-size:8pt;
	height:26px;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
}


.igwv_IGToday
{
	border:solid 1px #8FB0D6;
	border-top-width:0px;
}


.igwv_IGSelectedAppointment
{
	background-color: /*#fada82 */ #c4defc;
	background-repeat:repeat-x;
	background-image: url(images/igws_dayheaderbg.gif);
	font-size:8pt;
	border:solid 1px #8FB0D6;
	margin:1px;
	padding:2px;
	overflow: hidden;
}


.igwv_IGActiveDayHeader
{
 }


.igwv_IGActiveDay
{
	background-color:#FFFFFF;
	background-image:url(images/igws_active_day.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	border:1px solid #2788B1;
}


.igwv_IGResourceButton hover
{
	filter: alpha(opacity=100);
	opacity: 1.0;
}


.igwv_IGResourceButton focus, .igwv_IGResourceButtonActive
{
	filter: alpha(opacity=100);
	opacity: 1.0;
}


