.ighg_NautilusExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_NautilusExpandableArea
{
	padding: 0px 0px 0px 25px;
}

.ighg_NautilusExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_NautilusExpansionColumnHeader
{
	width: 25px;
	border-top:1px solid #6994b8;
    border-right:1px solid #477296;
    border-bottom:1px solid #3c617f;
    border-left:1px solid #80a5c3;
}

.ighg_NautilusExpansionColumnFooter
{
	width: 25px;
}


/* START -- GroupBy CSS Classes */
.ighg_NautilusGroupIndentHeaderCell
{
    width: 25px;
	border-top:1px solid #6994b8;
    border-right:1px solid #477296;
    border-bottom:1px solid #3c617f;
    border-left:1px solid #80a5c3;
}

TBODY>TR.ighg_NautilusGroupedRow>TD
{
	background:#FFFFFF url(images/ighg_GroupedRowBg.png) repeat-x;
}


TBODY>TR>TD.ighg_NautilusGroupIndentCell
{
	border-right: 1px solid #D0D7E5;
}

.ighg_NautilusGroupArea
{
	background-color: #F3F4F3;
	border-bottom: 1px solid #24406F;
	border-top: 1px solid #24406F;
	padding: 10px;
}

.ighg_NautilusGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
	color: #FFFFFF
}
.ighg_NautilusGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_NautilusGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_NautilusGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.gif) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_NautilusGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #24406F;
	height: 16px;
	padding: 3px 0px 0px 10px;
	color: #FFFFFF;
}
.ighg_NautilusGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #24406F;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_NautilusColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_NautilusColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_NautilusColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */

/********************/
/**  Cell Merging  **/
/********************/
/*Any future change please port it to WHDG*/

tbody>tr>td.ighg_NautilusMergedCellVisible
{
    color: Black;
}

tbody>tr>td.ighg_NautilusMergedCell, tbody>tr>td.ighg_NautilusMergedCellAlt /* main reg */
{
    color: #FFF;
    background-color: #FFF;
    
    border-top-width: 0;
    border-left: 1px dotted #d0d7e5;
    border-right: 1px dotted #d0d7e5;
}

tbody>tr>td.ighg_NautilusMergedCellTop, tbody>tr>td.ighg_NautilusMergedCellAltTop
{
    color: Black;
    border-top: 1px solid #d0d7e5;
}

tbody>tr>td.ighg_NautilusMergedCell.igg_NautilusSelectedCell, tbody>tr>td.ighg_NautilusMergedCellAlt.igg_NautilusSelectedCell /* main reg */
{
    color: Black;
    background-color: #f8b755;
    
    border-top: 1px solid #f1f3f7;
    border-left: 1px dotted #f1f3f7;
    border-right: 1px dotted #f1f3f7;    
}

tbody>tr>td.ighg_NautilusMergedCellTop.igg_NautilusSelectedCell, tbody>tr>td.ighg_NautilusMergedCellAltTop.igg_NautilusSelectedCell
{
    color: Black;
    border-top: none;    
}

tbody>tr>td.ighg_NautilusMergedCellExpanded
{
    color: Black;
}

tbody > tr.igg_NautilusUpdatedRow td.ighg_NautilusMergedCell
{
    color: #666666;
    font-style: italic;
}

tbody > tr.igg_NautilusUpdatedRow td.ighg_NautilusMergedCellTop.igg_NautilusSelectedCell
{
    color: black;
    font-style: italic;
}

tbody > tr.igg_NautilusUpdatedRow td.ighg_NautilusMergedCellTop
{
    color: #666666;
    font-style: italic;
}

tbody > tr.igg_NautilusUpdatedRow td.ighg_NautilusMergedCellTop.igg_NautilusSelectedCell
{
    color: black;
    font-style: italic;
}

tbody > tr.igg_NautilusUpdatedRow td.ighg_NautilusMergedCellBottom.igg_NautilusSelectedCell
{
    color: black;
    font-style: italic;
}

tbody>tr>td.ighg_NautilusMergedCellVisible
{
    color: black;
}

tbody>tr>td.igg_NautilusActiveCell
{
    color: #000;
}

@media print{.ighg_NautilusControl, .ighg_NautilusControl div{width:auto !important; height:auto !important; overflow: visible !important;}}