/**************************** VERTICAL (Default / No suffixes) *************************************************/
.igdm_HarvestControlVertical
{
	background-color:#FCF4E9;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackground.png);
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}


/*
 Main Control CSS class when it's active 
*/
.igdm_HarvestControlVerticalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_HarvestControlVerticalDisabled
{
	background-color:#F2F2F2;
}


/******************************** ROOT ELEMENTS ***************************************************/
.igdm_HarvestMenuGroupVerticalRoot
{
	background-color:Transparent;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_HarvestMenuItemVerticalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 30px 6px 12px;
	color:#333333;
}


.igdm_HarvestMenuItemVerticalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	text-align:left;
	vertical-align:middle;
}


.igdm_HarvestMenuItemVerticalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	line-height: 12px;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_HarvestMenuItemVerticalRootSelected
{
	background-color:#E2840B;
	background-repeat:repeat-x;
	background-image: url(images/igdm_rootselected.png);
	border:solid 1px #97462C;
}


.igdm_HarvestMenuItemVerticalRootActive
{
	background-color:#97462C;
	border:solid 1px #97462C;
}


.igdm_HarvestMenuItemVerticalRootHover
{
	background-color:#DB9B26;
	background-repeat:repeat-x;
	background-image: url(images/igdm_roothover.png);
	border:solid 1px Transparent;
	color:White;
}


.igdm_HarvestMenuItemVerticalRootDisabled
{
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_HarvestMenuGroupVertical
{
	background-color:White;
	border:solid 1px #D1D1D1;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_HarvestMenuItemVertical
{
	background-attachment:scroll;
	background-color: #FFFFFF none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_HarvestMenuItemVerticalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	line-height: 12px;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_HarvestMenuItemVerticalParent
{
}


.igdm_HarvestMenuItemVerticalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_HarvestMenuItemVerticalSelected
{
	background-color:#B57B5E;
	border:solid 1px #97462C;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_HarvestMenuItemVerticalActive
{
	background-color:#B57B5E;
	border:solid 1px #97462C;
	margin:0px;
}


/* List Item (Li) */
.igdm_HarvestMenuItemVerticalHover
{
	background-color:#B57B5E;
	border:solid 1px Transparent;
	margin:0px;
}


.igdm_HarvestMenuItemVerticalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_HarvestMenuItemVerticalSeparator
{
	background-color:#DDDDDD;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	height: 1px;
	height: 1px;
	width: 100%;
	width: 100%;
	margin: 0px auto;
}


.igdm_HarvestMenuScrollContainerVertical
{
	background-color:White;
	border:solid 1px #D1D1D1;
	color:Black;
}


.igdm_HarvestMenuScrollerRootTop
{
}


.igdm_HarvestMenuScrollerRootBottom
{
}


.igdm_HarvestMenuScrollerTop
{
	height: 10px;
	width: 100%;
}


.igdm_HarvestMenuScrollerBottom
{
	height: 10px;
	width: 100%;
}


/************************************************************************************************\

********************** Horizontal / Suffixed with "Horizontal" *********************************

\************************************************************************************************/
.igdm_HarvestControlHorizontal
{
	background-color:#FCF4E9;
	background-repeat:repeat-x;
	background-position:top ;
	background-image: url(images/igdm_controlbackground.png);
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	border-style:none;
	border-width:0px;
	white-space: nowrap;
	overflow: hidden;
	cursor:default;
}


.igdm_HarvestControlHorizontalActive
{
}


/*
 Main Control CSS class when it's disabled
*/
.igdm_HarvestControlHorizontalDisabled
{
	background-color:#F2F2F2;
}


/************** End Main Control Definitions ********************/
/******************************** ROOT ELEMENTS - Group and Item ***************************************/
/** Definitions for Root elements should be always before definitions of subElements **/
.igdm_HarvestMenuGroupHorizontalRoot
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_HarvestMenuItemHorizontalRoot
{
	font-size:10px;
	border:solid 1px Transparent;
	padding:6px 6px 6px 12px;
	float: left;
	color:#000FFF;
}


.igdm_HarvestMenuItemHorizontalIcon
{
	border-style:none;
	border-width:0px;
	padding-right:6px;
	clear: none;
	float: left;
	text-align:left;
	vertical-align:middle;
}


.igdm_HarvestMenuItemHorizontalRootLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#333333;
	text-decoration:none;
}


.igdm_HarvestMenuItemHorizontalRootSelected
{
	background-color:#E2840B;
	background-repeat:repeat-x;
	background-image: url(images/igdm_rootselected.png);
	border:solid 1px #97462C;
}


.igdm_HarvestMenuItemHorizontalRootActive
{
	background-color:#97462C;
	border:solid 1px #97462C;
}


.igdm_HarvestMenuItemHorizontalRootHover
{
	background-color:#DB9B26;
	background-repeat:repeat-x;
	background-image: url(images/igdm_roothover.png);
	border:solid 1px Transparent;
	color:White;
}


.igdm_HarvestMenuItemHorizontalRootDisabled
{
	float: left;
}


/********************************** END ROOT ELEMENTS *********************************************/
/****************************** MenuGroup (UL) ELEMENTS (SubMenu) *********************************/
/* UL (List) */
.igdm_HarvestMenuGroupHorizontal
{
	background-color:White;
	border:solid 1px #D1D1D1;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


/**************************** END Menu Group Elemnts ********************************************/
/************ MenuItem elements (single menu item - LI (base element) has > a > span) ***********/
/* List Item (Li) */
.igdm_HarvestMenuItemHorizontal
{
	background-attachment:scroll;
	background-color: #FFFFFF none repeat scroll 0 0;
	background-repeat:repeat;
	background-position:notset notset ;
	border:solid 1px Transparent;
	margin:0px;
	padding:5px 30px 5px 5px;
	color:#000333;
}


.igdm_HarvestMenuItemHorizontalLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) that is a parent of a menu which will appear on the bottom */
.igdm_HarvestMenuItemHorizontalParent
{
	font-weight:normal;
	margin:0px;
}


.igdm_HarvestMenuItemHorizontalParentLink
{
	font-size:12px;
	font-family: Verdana,Arial,Lucida Grande,Lucida Sans Unicode,Lucida,Helvetica,Sans-serif;
	display: block;
	cursor:default;
	color:#000333;
	text-decoration:none;
}


/* List Item (Li) */
.igdm_HarvestMenuItemHorizontalSelected
{
	background-color:#B57B5E;
	border:solid 1px #97462C;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_HarvestMenuItemHorizontalActive
{
	background-color:#B57B5E;
	border:solid 1px #97462C;
	margin:0px;
	color:White;
}


/* List Item (Li) */
.igdm_HarvestMenuItemHorizontalHover
{
	background-color:#B57B5E;
	border:solid 1px Transparent;
	margin:0px;
	color:White;
}


.igdm_HarvestMenuItemHorizontalDisabled
{
}


/* List Item (LI) no inner content */
.igdm_HarvestMenuItemHorizontalSeparator
{
	background-color:#DDDDDD;
	border-style:none;
	border-width:0px;
	margin-top:0px;
	padding:0px;
	display: block;
	width: 1px;
	width: 1px;
	height: 100%;
	height: 100%;
	margin: 0px auto;
}


/* Scrolling container - DIV */
.igdm_HarvestMenuScrollContainerHorizontal
{
	background-color:White;
	border:solid 1px #D1D1D1;
	color:Black;
}


/* Left scrolling element for root level items Horizontal orientation - DIV */
.igdm_HarvestMenuScrollerRootLeft
{
}


/* Right scrolling element for root level items Horizontal orientation - DIV */
.igdm_HarvestMenuScrollerRootRight
{
}


/* Left scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_HarvestMenuScrollerLeft
{
	background-repeat:repeat-y;
	background-position:right -70px ;
	border-left:solid 1px #97472D;
	width: 10px;
	height: 28px;
	display: block;
}


/* Right scrolling element for non-root level items Horizontal orientation - DIV */
.igdm_HarvestMenuScrollerRight
{
	background-repeat:repeat-y;
	background-position:right -70px ;
	border-right:solid 1px #97472D;
	width: 10px;
	height: 28px;
	display: block;
}


/*************************************** SCROLLING ROLES ************************************/
.igdm_HarvestMenuScrollButton
{
	background-color:#d6d6d6;
	background-repeat:repeat-x;
	background-position:center -57px ;
	background-image: url(images/igwdm_scrollsprite.png);
	border:solid 1px #97472D;
	margin:0px;
	padding:0px;
	position: absolute;
	text-decoration:none;
}


.igdm_HarvestMenuScrollIcon
{
	background-repeat:no-repeat;
	background-image: url(images/igwdm_scrollsprite.png);
	margin:0px;
	padding:0px;
	display: block;
	height: 10px;
	cursor:pointer;
}


.igdm_HarvestMenuScrollIconTop
{
	background-position:center -1px ;
	margin-left:-5px;
	width: 10px;
	position: relative;
	left: 50%;
}


.igdm_HarvestMenuScrollIconBottom
{
	background-position:center -25px ;
	margin-left:-5px;
	width: 10px;
	position: relative;
	left: 50%;
}


.igdm_HarvestMenuScrollIconLeft
{
	background-position:-15px -15px ;
	margin-top:-6px;
	position: relative;
	top: 50%;
}


.igdm_HarvestMenuScrollIconRight
{
	background-position:-30px -15px ;
	margin-top:-6px;
	position: relative;
	top: 50%;
}


.igdm_HarvestMenuScrollContainer
{
	margin:0px;
	padding-top:0px;
	padding-left:0px;
}


.igdm_HarvestMenuScrollContainerRootVertical
{
}


.igdm_HarvestMenuScrollContainerRootHorizontal
{
}


.igdm_HarvestMenuGroupScrollingVertical
{
	background-color:White;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_HarvestMenuGroupScrollingHorizontal
{
	background-color:White;
	margin:0px;
	padding-top:0px;
	padding-left:0px;
	list-style-type: none;
	cursor:default;
	color:Black;
}


.igdm_HarvestMenuItemVerticalRootSelected > a
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontalRootSelected
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemHorizontalSeparator
{
	overflow: hidden;
}


.igdm_HarvestMenuItemHorizontalSelected > a
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontalRoot
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemVerticalActive
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemVerticalHover.igdm_HarvestMenuItemVerticalParent
{
	border-width:0px;
}


.igdm_HarvestMenuItemHorizontalHover.igdm_HarvestMenuItemHorizontalParent
{
	background-repeat:repeat-x;
	background-position:center top ;
	font-weight:normal;
	border:solid 1px Transparent;
}


.igdm_HarvestMenuScrollerBottom hover, .igdm_HarvestMenuScrollerRight active
{
	background-position:center -42px ;
}


.igdm_HarvestMenuItemVerticalHover > a
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontalRootActive .igdm_HarvestMenuItemHorizontalRootLink
{
	color:White;
}


/* List Item (Li) */
.igdm_HarvestMenuItemHorizontalDisabled > a
{
	color:#CCCCCC;
}


.ie6 .igdm_HarvestMenuItemVerticalSeparator
{
	overflow: hidden;
}


.igdm_HarvestMenuItemHorizontalHover > a
{
	color:White;
}


/*************************************** END SCROLLING ROLES ********************************/
/***************
*   IE6 Fixes  *
****************/
.ie6 .igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalParent.igdm_HarvestMenuItemVerticalRootHover
{
	background-color: #E2840B!important;
	background-position:left ;
	background-image: url(images/igdm_roothover.png)!important;
	border-width:0px;
	background-repeat: repeat-x!important;
}


.igdm_HarvestMenuItemHorizontalRootHover > a
{
	color:White;
}


.igdm_HarvestMenuScrollerTop hover, .igdm_HarvestMenuScrollerRight active
{
	background-position:center -42px ;
}


.ie6 .igdm_HarvestMenuItemVerticalRootSelected
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalRootActive .igdm_Harvestmenuitemverticalrootlink, .ie6 .igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalRootSelected .igdm_HarvestMenuItemVerticalRootLink
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontalRootHover .igdm_HarvestMenuItemHorizontalRootLink
{
	color:White;
}


.ie6 .igdm_HarvestMenuGroupScrollingVertical .igdm_HarvestMenuItemVerticalParent
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-position:right center ;
	background-image: url(images/igwdm_submenuindicator.gif);
}


.ie6 .igdm_HarvestMenuItemVerticalRootHover .igdm_HarvestMenuItemVerticalRootLink
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontal
{
	border-width:0px;
}


.igdm_HarvestMenuItemHorizontalRootActive > a
{
	color:White;
}


/* List Item (Li) */
.igdm_HarvestMenuItemVerticalDisabled > a
{
	color:#CCCCCC;
}


.igdm_HarvestMenuItemHorizontalRootSelected > a
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemVerticalRootHover
{
	border-width:0px;
}


.igdm_HarvestMenuScrollerRight hover, .igdm_HarvestMenuScrollerRight active
{
	background-position:left -70px ;
}


.igdm_HarvestMenuItemVerticalSelected > a
{
	color:White;
}


.ie6 ul.igdm_HarvestMenuGroupVerticalRoot li.igdm_HarvestMenuItemVerticalParent.igdm_HarvestMenuItemVerticalRoot
{
	background-color: none;
}


.igdm_HarvestMenuItemVertical.igdm_HarvestMenuItemVerticalParent
{
	background-repeat:no-repeat;
	background-position:right center ;
	background-image: url(images/igwdm_submenuindicator.gif);
}


.igdm_HarvestMenuItemVerticalRootActive > a
{
	color:White;
}


.igdm_HarvestMenuScrollerLeft hover, .igdm_HarvestMenuScrollerRight active
{
	background-position:left -70px ;
}


.ie6 .igdm_HarvestMenuItemVerticalRoot
{
	border-width:0px;
}


.igdm_HarvestMenuItemVerticalRootHover .igdm_HarvestMenuItemVerticalRootLink
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemVertical
{
	border-width:0px;
	height: 15px;
}


.igdm_HarvestMenuItemVerticalActive > a
{
	color:White;
}


.ie6 .igdm_HarvestMenuItemHorizontalHover
{
	border-width:0px;
}


.igdm_HarvestMenuItemHorizontal.igdm_HarvestMenuItemHorizontalParent
{
	background-repeat:no-repeat;
	background-position:center right ;
}


.igdm_HarvestMenuItemVerticalRootDisabled > a
{
	color:#AAAAAA;
}


.ie6 .igdm_HarvestMenuItemVerticalHover
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemVertical.igdm_HarvestMenuItemVerticalParent
{
	border-width:0px;
}


.ie6 .igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalParent.igdm_HarvestMenuItemVerticalRootSelected
{
	background-color: #DB9B26!important;
	background-position:left ;
	background-image: url(images/igdm_rootselected.png)!important;
	border-width:0px;
	background-repeat: repeat-x!important;
}


.igdm_HarvestMenuItemHorizontalRootDisabled > a
{
	color:#AAAAAA;
}


.igdm_HarvestMenuItemVerticalRootHover > a
{
	color:White;
}


.igdm_HarvestMenuItemHorizontalActive > a
{
	color:White;
}


.igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalRootActive .igdm_Harvestmenuitemverticalrootlink, .igdm_HarvestMenuItemVerticalRoot.igdm_HarvestMenuItemVerticalRootSelected .igdm_HarvestMenuItemVerticalRootLink
{
	color:White;
}


